## Predicting heart rate of a person on the basis of Age and BMI(Body Mass Index)

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('framingham.csv')

In [3]:
df.head()

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
0,1,39,4.0,0,0.0,0.0,0,0,0,195.0,106.0,70.0,26.97,80.0,77.0,0
1,0,46,2.0,0,0.0,0.0,0,0,0,250.0,121.0,81.0,28.73,95.0,76.0,0
2,1,48,1.0,1,20.0,0.0,0,0,0,245.0,127.5,80.0,25.34,75.0,70.0,0
3,0,61,3.0,1,30.0,0.0,0,1,0,225.0,150.0,95.0,28.58,65.0,103.0,1
4,0,46,3.0,1,23.0,0.0,0,0,0,285.0,130.0,84.0,23.10,85.0,85.0,0

### Since the question demands only "age" and "BMI" to be used, we will only take those features

In [8]:
dfUpdated = df[['age', 'BMI', 'heartRate']]

In [9]:
dfUpdated.head()

   age    BMI  heartRate
0   39  26.97       80.0
1   46  28.73       95.0
2   48  25.34       75.0
3   61  28.58       65.0
4   46  23.10       85.0

In [15]:
dfUpdated = dfUpdated.dropna() # Checking for null values, dropping them.

In [16]:
dfUpdated.isnull().sum()

age          0
BMI          0
heartRate    0
dtype: int64

In [33]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, r2_score

### Identifying independent and dependent variables:

In [18]:
X = dfUpdated.drop('heartRate', axis=1)
y = dfUpdated['heartRate']

In [19]:
model = LogisticRegression()

In [20]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=101)

In [21]:
model.fit(X_train, y_train)

/home/jackson/anaconda3/lib/python3.8/site-packages/sklearn/linear_model/_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [22]:
predictions = model.predict(X_test)

In [35]:
print('The accuracy of our model is ', accuracy_score(y_test, predictions) * 100, '%')
print('\n')
print('The r2 value of our model is ', r2_score(y_test, predictions) * 100)

The accuracy of our model is  13.191153238546605 %


The r2 value of our model is  -0.146846008543422

#### Trying to predict a real time value:

In [30]:
testValue = X.iloc[1]

In [31]:
testValue

age    46.00
BMI    28.73
Name: 1, dtype: float64

In [32]:
# Predicting the heartRate
model.predict([testValue])

array([75.])